@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/OpenSans-Light.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('../fonts/OpenSans.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/OpenSans-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../fonts/OpenSans-Italic.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../fonts/OpenSans-LightItalic.woff') format('woff');
}
.center {
    text-align: center;
}
html,
body {
    width: 100%;
    height: 100%;
}
body {
    /*font-size: 2em;*/
    font-family: 'Open Sans';
    overflow-y: auto;
    background-color: white;
}
main {
    background-color: white;
    border-bottom: 3px solid #979797;
    box-sizing: border-box;
    padding-top: 4rem;
}
main.index {
    padding-top: 0 !important;
}
.station-info {
    padding: 10px;
}
.station-info .name {
    text-transform: uppercase;
}
.station-info .update {
    float: right;
    text-transform: uppercase;
    font-size: 0.5em;
    color: #979797;
    margin-top: -16px;
}
.station-info .update .date {
    font-size: 1.2em;
    color: #545454;
}
.velib-logo {
    margin: 1em auto;
    display: block;
}
.station-info .entry {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    padding: 1rem 1rem;
    border-radius: 3px;
    margin-top: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 1.55em;
    font-weight: 400;
    height: 3em;
    cursor: pointer;
}
.station-info .entry span {
    line-height: 1em;
}
.station-info .entry span.nb {
    font-weight: bold;
    font-size: 3em;
    width: 1em;
    text-align: right;
    padding: 0 0.5rem;
}
.station-info .entry--logo {
    margin-left: auto;
    height: 3em;
}
#app-bar {
    position: fixed;
    width: 100%;
}
.station-info .bikes,
#app-bar.bikes {
    background-color: #dc1681;
}
.station-info .bikes:hover,
.station-info .stands:hover,
.station-info .starred:hover,
.station-info .search:hover {
    opacity: 0.75;
}
.station-info .stands,
#app-bar.stands {
    background-color: #009bb7;
}
.station-info .starred,
#app-bar.starred {
    background-color: #a54d93;
}
#app-bar.station {
    background-color: #006FB3;
}
.station-info .search,
#app-bar.search {
    background-color: #f7ad00;
}
.info {
    width: 50%;
    text-align: center;
    margin: 1em auto 1em auto;
}
.info--title {
    text-transform: uppercase;
    font-weight: normal;
    color: #979797;
    margin: 0;
}
.info--content {
    font-weight: normal;
    color: #222;
    margin: 0;
}
#app-bar img {
    height: 100%;
    width: 4rem;
    padding: 0 1rem;
}
table.starred,
table.station {
    width: 100%;
}
table.starred tbody td {
    padding: 10px;
}
table.starred td.stations {
    line-height: 18px;
    max-width: 100px;
}
table.starred td.stations div {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}
table.starred td.stations .dist {
    font-size: 0.7em;
    color: #B1B1B1;
}
table.starred td.bikes,
table.starred td.stands {
    text-align: align;
    width: 20%;
}
table.starred thead {
    border-bottom: 2px solid #979797;
}
table.starred thead tr td {
    font-size: 1.85em;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    padding-top: 5px;
}
table.starred thead tr td:first-child {
    padding-left: 20px;
}
table.starred thead tr td img {
    height: 45px;
    vertical-align:middle;
    position: relative;
}
table.starred td.stations {
    color: #404040;
    font-size: 1.4em;
}
table.starred td.bikes {
    color: #dc1681;
    font-size: 2.5em;
    text-align: center;
}
table.starred td.stands {
    color: #009bb7;
    font-size: 2.5em;
    text-align: center;
}
table.starred tr:hover {
    cursor: pointer;
}
table.station tr td p {
    margin: 0;
}
table.station img.vplus {
    margin-top: 5px;
}
table.station img.vplus:hover {
    cursor: pointer;
}
table.station tr td p.title {
    padding-top: 40px;
}
table.station td {
    text-align: center;
}
table.station p.title {
    color: grey;
}
table.station p.bikes,
table.station p.stands {
    font-weight: bold;
    font-size: 25px;
}
table.station p.bikes {
    color: #dc1681;
}
table.station p.stands {
    color: #006FB3;
}

footer {
    height: 40px;
    width: 100%;
    display: inline-block;
}
footer div {
    font-size: 20px;
    position: absolute;
    margin-left: 20px;
    line-height: 35px;
    font-weight: 300;
    font-style: italic;
    cursor: default;
}
footer input {
    color: #808080;
    height: 30px;
    font-size: 25px;
    font-family: "Open Sans";
    padding-left: 10px;
    border: 0px none;
    height: auto;
    vertical-align: middle;
    width: 80%;
}
footer input#submit {
    position: absolute;
    width: 30px;
    right: 0px;
    vertical-align: middle;
    margin: 5px;
}
footer a {
    position: absolute;
    right: 0px;
}
footer img {
    width: 50px;
    height: 25px;
    margin-top: 7px;
}
footer.bikes {
    border-bottom: 5px solid #dc1681;
}
footer.stands {
    border-bottom: 5px solid #009bb7;
}
footer.starred {
    border-bottom: 5px solid #a54d93;
}
footer.search {
    border-bottom: 5px solid #f7ad00;
}
footer.station {
    border-bottom: 5px solid #006FB3;
}

/*
 * Map elements
 */
 #map {
     height: 400px;
 }
.mapIcon {
    background: white;
    display: inline-flex;
    height: 35px !important;
    width: 35px !important;
    opacity: 0.75;
    border-radius: 20px;
}
.mapIcon div {
    line-height: 30px;
    margin: auto;
}
.mapIcon .avail_bikes {
    color: #dc1681;
}
.mapIcon .avail_bike_stands {
    color: #009bb7;
}

/*
 * Classic elements
 */
.hidden {
    display: none;
}
.uppercase {
    text-transform: uppercase;
}

main.bikes,
main.stands
{
  margin: 1em;
}

main.bikes section
{
  border: 2px solid #DC1681;
}

main.stands {
  border: 2px solid #009BB7;
}

main.index {
  border: 0px white;
  margin : 0px;
}

.map-circle {
    border-radius: 50%;
    margin: 10px 10px 10px 10px;
    background-color: #DDD;
}

.pagination {
  margin-top: 30px;
  margin-bottom: 30px;
}
