@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/OpenSans-Light.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('../fonts/OpenSans.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/OpenSans-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../fonts/OpenSans-Italic.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../fonts/OpenSans-LightItalic.woff') format('woff');
}
.center {
    text-align: center;
}
html,
body {
    width: 100%;
    height: 100%;
}
body {
    /*font-size: 2em;*/
    font-family: 'Open Sans';
    overflow-y: auto;
    background-color: white;
}

main {
    background-color: white;
    min-height: 100%;
}

.station-info {
    padding: 10px;
}
.station-info .name {
    text-transform: uppercase;
}
.station-info .update {
    float: right;
    text-transform: uppercase;
    font-size: 0.5em;
    color: #979797;
    margin-top: -16px;
}
.station-info .update .date {
    font-size: 1.2em;
    color: #545454;
}
.velib-logo {
    margin: 0 auto;
    display: block;
}
#app-logo {
    padding: 2em 0;
}
.station-info .entry {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    padding: 1rem 1rem;
    border-radius: 3px;
    margin-top: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 1.55em;
    font-weight: 400;
    height: 3em;
    cursor: pointer;
}
.station-info .entry span {
    line-height: 1em;
}
.station-info .entry span.nb {
    font-weight: bold;
    font-size: 3em;
    width: 1em;
    text-align: right;
    padding: 0 0.5rem;
}
.station-info .entry--logo {
    margin-left: auto;
    height: 3em;
}
#app-bar {
    position: fixed;
    width: 100%;
}
.station-info .bikes,
#app-bar.bikes {
    background-color: #dc1681;
}
.station-info .bikes:hover,
.station-info .stands:hover,
.station-info .starred:hover,
.station-info .search:hover {
    opacity: 0.75;
}
.station-info .stands,
#app-bar.stands {
    background-color: #009bb7;
}
.station-info .starred,
#app-bar.starred {
    background-color: #a54d93;
}
#app-bar.station {
    background-color: #006FB3;
}
.station-info .search,
#app-bar.search {
    background-color: #f7ad00;
}
.info {
    width: 50%;
    text-align: center;
    margin: 1em auto 1em auto;
}
.info--title {
    text-transform: uppercase;
    font-weight: normal;
    color: #979797;
    margin: 0;
}
.info--content {
    font-weight: normal;
    color: #222;
    margin: 0;
}
#app-bar img {
    height: 100%;
    width: 4rem;
    padding: 0 1rem;
}
table.starred,
table.station {
    width: 100%;
}
table.starred tbody td {
    padding: 10px;
}
table.starred td.stations {
    line-height: 18px;
    max-width: 100px;
}
table.starred td.stations div {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}
table.starred td.stations .dist {
    font-size: 0.7em;
    color: #B1B1B1;
}
table.starred td.bikes,
table.starred td.stands {
    text-align: align;
    width: 20%;
}
table.starred thead {
    border-bottom: 2px solid #979797;
}
table.starred thead tr td {
    font-size: 1.85em;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    padding-top: 5px;
}
table.starred thead tr td:first-child {
    padding-left: 20px;
}
table.starred thead tr td img {
    height: 45px;
    vertical-align:middle;
    position: relative;
}
table.starred td.stations {
    color: #404040;
    font-size: 1.4em;
}
table.starred td.bikes {
    color: #dc1681;
    font-size: 2.5em;
    text-align: center;
}
table.starred td.stands {
    color: #009bb7;
    font-size: 2.5em;
    text-align: center;
}
table.starred tr:hover {
    cursor: pointer;
}
table.station tr td p {
    margin: 0;
}
table.station img.vplus {
    margin-top: 5px;
}
table.station img.vplus:hover {
    cursor: pointer;
}
table.station tr td p.title {
    padding-top: 40px;
}
table.station td {
    text-align: center;
}
table.station p.title {
    color: grey;
}
table.station p.bikes,
table.station p.stands {
    font-weight: bold;
    font-size: 25px;
}
table.station p.bikes {
    color: #dc1681;
}
table.station p.stands {
    color: #006FB3;
}


/*
 * Map elements
 */
.mapIcon {
    background-image: url("../img/station-marker.svg");
    display: inline-flex;
    height: 33px !important;
    width: 34px !important;
    opacity: 1;
}
.mapIcon div {
    color: #FFF;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 20px;
    position: relative;
    text-align: center;
    width: 1.6em;
}

/*
 * Classic elements
 */
.hidden {
    display: none;
}
.uppercase {
    text-transform: uppercase;
}


main.index {
  border: 0px white;
  margin : 0px;
}

.pagination {
  margin-top: 30px;
  margin-bottom: 30px;
}


/*
 * StationMap
 */

.station-map {
    padding: 1rem;
}

.station-map--map-circle {
    height: calc(100vw - 5rem);
    border-radius: 50%;
    background-color: #DDD;
}

.station-map--name,
.station-map--distance {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: medium none;
    display: block;
    margin: 0px;
    color: #858585;
    font-size: 1.5rem;
    line-height: 2rem;
}

.station-map--name {
    text-transform: uppercase;
    color: #404040;
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.station-map--availability {
    float: right;
}


/* (context dependencies) */

.bikes .station-map {
    border: 2px solid #DC1681;
}

.bikes .station-map--availability {
    color: #DC1681;
}

.stands .station-map {
    border: 2px solid #009BB7;
}

.stands .station-map--availability {
    color: #009BB7;
}



/*
 * Counter
 */

.counter p {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.counter--value {
    line-height: 5rem;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}

.counter--legend {
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1em;
    color: #404040;
}

/*
 * Footer Layout
 */

footer {
    position: absolute;
    bottom: 0;
    height: 5rem;
    width: 100%;
    clear:both;
}

section[role="region"] {
    min-height: 100vh;
    position: relative;
}

.scrollable.header {
    padding-top: 6.5rem;
    position: normal;
    top: 0;
}

.footer {
    overflow: auto;
    padding-bottom: 6.5rem;
}


/*
 * Other Layout
 */

.full-width {
    padding: 0;
}

.swiper-container {
    display: none;
}


/*
 * Header
 */

section[role="region"] > header:first-child .icon-velib {
    background-image: url('../img/velib.svg');
}

section.skin-bikes[role="region"] > header:first-child,
.skin-bikes > section[role="region"] > header:first-child {
    background-color: #dc1681;
}


section[role="region"] > header:first-child .icon-starred {
    background-image: url('../img/star.svg');
}

section.skin-starred[role="region"] > header:first-child,
.skin-starred > section[role="region"] > header:first-child {
    background-color: #a54d93;
}


section[role="region"] > header:first-child .icon-search {
    background-image: url('../img/search.svg');
}

section.skin-search[role="region"] > header:first-child,
.skin-search > section[role="region"] > header:first-child {
    background-color: #f7ad00;
}


section[role="region"] > header:first-child .icon-station {
    background-image: url('../img/station.svg');
}

section.skin-station[role="region"] > header:first-child,
.skin-station > section[role="region"] > header:first-child {
    background-color: #006fb3;
}


section[role="region"] > header:first-child .icon-stand {
    background-image: url('../img/stand.svg');
}

section.skin-stands[role="region"] > header:first-child,
.skin-stands > section[role="region"] > header:first-child {
    background-color: #009bb7;
}


/*
 * Lists
 */

[data-type="list"] > header aside .icon {
    background: transparent none no-repeat scroll center center / 3rem auto;
    font-size: 0;
    display: block;
    width: 4rem;
    height: 3rem;
}

[data-type="list"] > header aside .icon-velib-pink {
    background-image: url('../img/velib-pink.svg');
}

[data-type="list"] > header aside .icon-stand-blue {
    background-image: url('../img/stand-blue.svg');
}

.skin-starred [data-type="list"] header {
    color: #a54d93;
}

[data-type="list"] header {
    border-bottom: 0.1rem solid #E7E7E7;
}

[data-type="list"] li p:first-of-type {
    text-transform: uppercase;
    color: #404040;
}

[data-type="list"] aside.counter:first-child {
    margin-right: 1.5rem;
}

[data-type="list"] aside.counter {
    width: 4rem;
    vertical-align: center;
    line-height: 5rem;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}

[data-type="list"] aside.counter.bikes {
    color: #dc1681;
}

[data-type="list"] aside.counter.stands {
    color: #009bb7;;
}



/*
 * Footer
 */

footer a {
    height: 5rem;
    display: block;
    border-top: 0.3px solid #979797;
    box-sizing: border-box;
    padding-left: 1rem;

    font-size: 1.8rem;
    line-height: 4.2rem;
    vertical-align: center;
    color: #666;
    font-style: italic;
    font-weight: 200;
    text-decoration: none;
}

footer aside {
    float: left;
    margin: 0px;
    -moz-margin-end: 0.5rem;
    height: 100%;
    position: relative;
}

footer aside.pack-end {
    float: right;
    text-align: end;
}

footer aside .icon {
    background: transparent none no-repeat scroll center center / 3rem auto;
    font-size: 0px;
    display: inline-block;
    width: 3rem;
    height: 3rem;
}

footer aside .icon-search-yellow {
    background-image: url("../img/search-yellow.svg");
}

footer aside .icon-plus-pink {
    background-image: url("../img/plus-pink.svg");
}

footer aside .icon-plus-blue {
    background-image: url("../img/plus-blue.svg");
}

footer aside .icon-plus-dark-blue {
    background-image: url("../img/plus-dark-blue.svg");
}

footer aside .icon-plus-violet {
    background-image: url("../img/plus-violet.svg");
}

/* (context dependencies) */

.bikes footer a {
    border-bottom: 0.5rem solid #dc1681;
}
.stands footer a {
    border-bottom: 0.5rem solid #009bb7;
}
.starred footer a {
    border-bottom: 0.5rem solid #a54d93;
}
.search footer a {
    border-bottom: 0.5rem solid #f7ad00;
}
.station footer a {
    border-bottom: 0.5rem solid #006fb3;
}
